*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
header{
    width: 100%;
    padding: 0px 100px;

background: linear-gradient(to right, #243B55, #141E30); 

}
header , .menuList{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 a{
    text-decoration: none;
    font-size: 45px;
    color: white;
}

h1 a span{
color: #74ebd5;
}
.menuList{
    justify-content: center;
    list-style: none;
}
.menuList li {
    margin: 0.5px;
    
}
.menuList li a{
    padding:10px 20px;
    color:#cff2eb ;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.menuList li a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    transition: all 1s ease;
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    border-radius: 5pxpx;
}
a:hover::before{
    width: 100%;
}




.menu ,.close {

color: #74ebd5;

}

 .close{
    display: none;
    animation: close 5s linear 0.5s infinite alternate;
 }
 @keyframes close{
    0%{
        transform:  scale(1);
    }
    25%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1.5);
    }
    75%{
        transform:  scale(1.2);
    }
    100%{
        transform:scale(1);
    }
 }
.menu{
    display: none;
    animation: menuicon 5s linear 0.5s infinite alternate;
}
@keyframes menuicon {
    0%{
        transform: scale(1);
    }
    25%{
        transform:  scale(1.2);
    }
    50%{
        transform:  scale(1.5);
    }
    75%{
        transform:  scale(1.2);
    }
    100%{
        transform:  scale(1);
    }
 }


.menu .css-i4bv87-MuiSvgIcon-root ,.close .css-i4bv87-MuiSvgIcon-root  {
font-size: 27px;
}


@media all and (max-width:790px){
    header{
        padding: 0px 50px;
    }
}

@media all and (max-width:620px){
    .menu ,.close{
        display: block;
    }
    header .menuList{
        position: absolute;
        flex-direction: column;
        top: 50px;
        left: 0;
        width: 100%;
        transition: all 0.7s ease;
        background-color: rgba(36, 59, 85, 0.8);
        
    }
    header .menuList li {
        text-align: center;
        width: 100%;
        border-bottom: 1px solid  #74ebd5;
        
    }
    header .menuList li:hover{
        background-color:rgba(36, 59, 85, 0.6);
    }
    
    header .menuList li a{
        width: 100%;
        padding: 1px 0px;
    }
}

@media all and (max-width:400px){
     h1 a{
        font-size:40px ;
    }
}