*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contact{
    height: 90vh;
    
    background: linear-gradient(to right, #243B55, #1d3147);
    
}
.contact , .contactOptions , form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactLeft{
    width: 55%;
    height: 100%;
  
    color: white;
    padding: 5% 8%;
    
}
.contactLeft h1{
    font-size: 35px;
    margin-bottom: 7px;
}
.contactLeft .dec{
    text-align: justify;
    margin-bottom: 10px;
}

.contactOptions{
    text-align: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contactOptions .option{
    width: 30%;
}

.contactLeft h2{
    margin: 8px 0px;
}

form{
    width: 100%;
    flex-wrap: wrap;
    
}
form input{
    width: 49%;
    color: white;
    height: 32px;
    background-color: #172839;
    border: none;
    outline: #06121e;
    padding: 5px;
    box-shadow: 5px 5px 5px 5px  rgba(29, 49, 71 ,0.4)
}
form input:first-of-type{
    margin-right: 1%;
    margin-bottom: 2%;
}
form input:last-of-type{
    margin-left: 1%;
   
    margin-bottom: 2%;
}
form textarea {
    width: 100%;
    color: white;  
    height: 100px;
    padding: 5px;
    background-color: #172839;
    border: none;
    outline: #06121e;
    box-shadow: 5px 5px 5px 5px  rgba(29, 49, 71 ,0.4)
}
form button{
    width: 25%;
    height:30px ;
    margin-top: 10px;
    border-radius: 3px;
    border: none;
    font-size: 18px;
}
.contactRight{
    width: 45%;
    height: 100%;
    background-color: #b7c2ce;
}

.mapouter{position:relative;text-align:right;width:584px;height:600px;}.gmap_canvas {overflow:hidden;background:none!important;width:584px;height:580px;}.gmap_iframe {width:584px!important;height:600px!important;}