* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.portfolio{
    width: 100%;
    color: white;
    background: linear-gradient(to right, #243B55, #141E30);
}
.projects{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 5% 10%;
}
.projectHeading{
    width: 55%;
    height: 30%;
}

.projectHeading h3{
    font-size: 22px;
    color: #FF0066;
}
.projectHeading h1{
    font-size: 50px;
    margin-bottom:7px ;
}
.projectHeading h1 span .css-i4bv87-MuiSvgIcon-root{
    color: #74ebd5;
    font-size: 24px;
}
.projectList{
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.projectList li a{
    text-decoration: none;
    padding: 5px 17px;
    background-color:white;
    color: #141E30;
    margin: 2px;
}

.projectTank{
    width: 100%;
    height: 50%;
}
