* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.portfolio{
    width: 100%;
    height: 100vh;
    color: white;
    background: linear-gradient(to right, #243B55, #141E30);
}

.portfolio , .portfolioContent  ,.productList {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.portfolioContent{
    width: 60%;
    height: 100%;
    flex-direction: column;
}

.pfHeading {
    width: 100%;
    height: 20%;
    text-align: center;
}
.pfHeading h1{
    font-size: 50px;
}

.productList{
    width: 100%;  
    height: 10%; 

}
.productList ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
}
.productList ul li{
    list-style: none;
}
.productList ul li a{
    text-decoration: none;
    color: white;
    margin:0px 10px;
    padding: 5px 19px ;
    background-color: black;
}
.projectTank {
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.project{
    width: 45%;
    height:40%;
    margin: 10px;
}
.project img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.modal{
    width: 400px;
    height: 400px;
}
.wapper{
    transition: all 1s ease;
}


