* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home {
    width: 100%;
    color: white;
    background: linear-gradient(to right, #243B55, #141E30);
}

.banner,
.leftBanner,
.rightBanner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.banner {
    flex-wrap: wrap;
    height: 90vh;
    background: linear-gradient(to right, #243B55, #141E30)
}

.leftBanner {
    width: 40%;
    height: 100%;
    align-items: start;
    flex-direction: column;
    
}

.leftBanner h2 span {
    color: #74ebd5;
    /* margin-left: 10px; */
}

.leftBanner h1 {
    font-size: 40px;
}

.leftBanner h2 {
    font-size: 25px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.leftBanner h2,
.leftBanner p,
.leftBanner h3,
.leftBanner p {
    margin-bottom: 5px;
}

.email {
    padding-bottom: 20px;
}

.leftBanner .anchors {
    overflow: hidden; 
    height: 50px;
    display: flex;
    align-items:start   ;
    justify-content: center;
}



.cv{
    margin-right: 20px;
}
.cv ,.hire{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    padding: 8px 25px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}



.leftBanner .anchors .cv:hover,
.leftBanner .anchors .hire:hover {
    color: #243B55;
}

.leftBanner .anchors .cv:after,
.leftBanner .anchors .hire:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
    width: 100%;
    background-color: #a7d5cd;
    transition: all 1s ease;
}

.leftBanner .anchors .cv:after {
    left: -100%;
}

.leftBanner .anchors .hire:after {

    right: -100%;
}

.leftBanner .anchors .cv:hover:after
 {
    left: 0;
    
}

.leftBanner .anchors .hire:hover:after {
    right: 0;
}




.rightBanner {
    position: relative;
    width: 40%;
    z-index: 0;
    height: 100%;

}

.rightBanner img {
    width: 70%;
    height: 70%;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-bottom: blur(8.2px);
    animation: animate 8s ease-in-out infinite;
}

@keyframes animate {
    0% {
        border-radius: 60% 50% 50% 70% / 50% 60% 80% 50%;
    }

    25% {
        border-radius: 40% 60% 70% 40% / 60% 40% 40% 70%;
    }

    50% {
        border-radius: 40% 60% 40% 60% / 70% 40% 60% 40%;
    }

    75% {
        border-radius: 40% 40% 60% 40% / 50% 60% 40% 70%;
    }

    100% {
        border-radius:60% 50% 50% 70% / 50% 60% 80% 50%;
    }

}

@media all and (max-width :1030px){

    .leftBanner , .rightBanner{
        width: 45%;
    }

}
@media all and (max-width:870px){
    .leftBanner , .rightBanner{
        width: 48%;
    }
    .leftBanner h1{
        font-size: 35px;
    }
    .rightBanner img{
        width: 80%;
    }

}
@media all and (max-width :720px){
    .leftBanner ,.rightBanner{
        width: 100%;
        padding: 0px 10%;
        height: 500px;
    }
    .leftBanner , .rightBanner{
        background: linear-gradient(to right, #243B55, #141E30)
    }
    .rightBanner img{
        width:60% ;
        height: 90%;
    }
}

@media all and (max-width :530px){
    .rightBanner img{
        width: 85%;
        height: 95%;
    }
    .leftBanner , .rightBanner{
        padding: 0px 6%;
    }
}

@media all and (max-width :400px){
    .rightBanner , .leftBanner{
        padding: 0px 3%;
    }

    .leftBanner h1{
        font-size: 28px;
    }
    .leftBanner p{
        font-size: 15px;
    }
    .cv , .hire{
        padding: 6px 17px;
    }   
    .rightBanner img{
        width: 93%;
        height: 80%;
    }
}