*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about {
    width: 100%;
    height: 90vh;
    color: white;
    background: linear-gradient(to right, #243B55, #141E30);
}

.aboutHeading {
    padding: 20px 0px;
    width: 100%;
    text-align: center;
}

.aboutMain,
.mainRight,
.intro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mainLeft {
    width: 35%;
    height: 400px;
    position: relative;
    z-index: 0;
}

.mainLeft img {
    width: 70%;
    /* position: relative; */
    height: 350px;
    z-index: 1;
    border-radius: 5px;
    /* box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.2); */
    z-index: 2;
    /* border-bottom: blur(8.2px); */
    /* animation: animate 8s ease-in-out infinite; */
}

.mainLeft:before{
    content: "";
    position: absolute;
    bottom: 8%;
    left: 6%;
    z-index: 3;
    width: 60%;
    height: 10%;
    background: linear-gradient(to right, #243B55, #1d3147);;
    filter: blur(6px);
}
 .mainLeft .blob{
    width:80%;
    height: 80%;
    position: absolute;
    top: 20px;
    z-index: -1;
  
    
}


/* @keyframes animate {
    0% {
        border-radius: 60% 50% 60% 60% / 60% 60% 60% 50%;
    }



    50% {
        border-radius: 60% 60% 50% 60% / 60% 50% 60% 60%;
    }


    100% {
        border-radius: 60% 50% 60% 60% / 60% 60% 60% 50%;
    }

} */

.mainRight {
    width: 37%;
    align-items: start;
    flex-direction: column;
}

.mainRight .intro {
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
  
}

.intro .introBox {
    width: 30%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}

.aboutcv{
    width: 40%;
    margin-top: 20px;
    overflow: hidden;
}
.aboutcv a{
    padding: 6px 20px;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
    
}
.aboutcv a span{
    margin-left: 5px;
}
.aboutcv a  span .css-i4bv87-MuiSvgIcon-root{
    font-size: 22px;

}

.aboutcv a:after , .aboutcv a:before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: all 0.8s ease;
    background-color: aliceblue;
   
   
}
.aboutcv a::before{
    left: -50%;
}
.aboutcv a::after{
    right: -50%;
}

.aboutcv a:hover{
    color: #141E30;
}
.aboutcv a:hover:before{
    left: 0;
    
}

.aboutcv a:hover:after{
    right: 0;
    
}
